<div class="centered-content">
  <div class="title-button-row">
    <h1>Lista de productos</h1> 
    <a href="/realtimeproducts" class="link-button">Cargar Producto</a>
  </div>
  <div id="product-list"></div>
</div>